@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --color-bg: #000;
  --color-bg-2: #12181b;
  --color-text: #FFFFFF;
  --color-border: #2f3336;
  --color-iconic: #1d9cf0;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-gray-0: #f8f8f8;
  --color-gray-1: #dbe1e8;
  --color-gray-2: #b2becd;
  --color-gray-3: #6c7983;
  --color-gray-4: #454e56;
  --color-gray-5: #2a2e35;
  --color-gray-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

.light {
  --color-bg: #FFFFFF;
  --color-bg-2: #f8f8f8;
  --color-text: #000;
  --color-border: #eff3f4;
  --color-iconic: #1d9cf0;
  --color-white: #344460;
  --color-black: #000;
  --color-gray-0: #f8f8f8;
  --color-gray-1: #6c7983;
  --color-gray-2: #6c7983;
  --color-gray-3: #6c7983;
  --color-gray-4: #454e56;
  --color-gray-5: #f8f8f8;
  --color-gray-6: #12181b;
}

main {
  color: var(--color-text);
  background-color: var(--color-bg);
}

@media (min-width: 1294px) {
  .left-nav {
    min-width: 275px;
  }
}

@media (max-width:1104px) {
  .right-nav-wrapper {
    width: 290px;
  }
}

@media (min-width: 1294px) {
  .main-sub-wrapper {
    width: 1294px;
  }
}

/* @media (prefers-color-scheme: dark) {
  main {
    color: var(--color-text);
    background-color: var(--color-bg);
  }
} */




/* 

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */